

 <body class="fix-header fix-sidebar card-no-border">
     <div class="preloader" style="display: none;">
         <svg class="circular" viewbox="25 25 50 50">
             <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>  </svg>
     </div>

     <div id="main-wrapper">
         <header class="topbar">
		 	<div class="container" >
             <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                 <div class="navbar-header">
                     <a class="navbar-brand" href="dashboard.html"><img src="../images/logo.png" alt="KEGI" class="dark-logo" /> </a>				 </div>

				 <div class="main-menu">
					<nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
						<ul class="navbar-nav my-lg-0">
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" href="home.html"> <span>Home</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" href="#"><span>Site Visit</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle active" href="work-visit.html"><span>Work Visit</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" href="#"><span>Track Supervisor</span></a></li>
						</ul>
					</nav>
				 </div>

                 <div class="navbar-collapse ml-auto" style="width:auto;">
                     <ul class="navbar-nav mr-auto mt-md-0">
                         <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up" href="javascript:void(0)"><i class="fa fa-bars"></i></a>  </li>
                     </ul>

                     <ul class="navbar-nav my-lg-0 topmenu-content">
                         <li class="nav-item dropdown noarrowdrop">
                             <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  <i class="fa fa-bell text-theme"></i>
                                 <div class="notify"> <span class="point"></span>  </div>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                 <ul>
                                     <li>
                                         <div class="drop-title">Notifications </div>
                                     </li>
                                     <li>
                                         <div class="message-center">
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                 	  <h5>Luanch Admin </h5>  <span class="mail-desc">Just see the my  admin! </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:30 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
											 	<div class="mail-contnet">
                                                  	<h5>Pavan kumar </h5>  <span class="mail-desc">You can customize this  as you want </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:08 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>
											 <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>										</div>
                                     </li>
                                     <li>
                                         <a class="nav-link text-center" href="javascript:void(0);">  <strong>Check all notifications </strong>  <i class="fa fa-angle-right"></i>  </a>                                     </li>
                                 </ul>
                             </div>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i>
  <span class="d-none d-lg-inline-block"> &nbsp; Pritesh Shah</span></a>
                             <div class="dropdown-menu dropdown-menu-right scale-up">
                                 <ul class="dropdown-user">
                                     <li>
                                         <a href="my-profile.html" class="dw-user-box">
                                             <div class="u-img"><i class="fa fa-user"></i> </div>
                                             <div class="u-text">
                                                 <h4>Pritesh Shah </h4>
                                                 <p class="text-muted">Office Assistant</p>
											</div>
                                         </a>
										 <div class="email_mobile_links d-flex">
										 	<div class="textemail"><p class="mb-2">Email:</p></div>
											<div class="textemail_r"><p class="mb-2">prites@gmail.com</p></div>
										 </div>
										 <div class="email_mobile_links d-flex">
										 	<div class="textemail"><p class="mb-2">Mobile:</p></div>
											<div class="textemail_r"><p class="mb-2">+91 4578784541</p></div>
										 </div>
                                     </li>
									 <li role="separator" class="divider"></li>
                                     <li><a href="#" class="text-theme"><i class="fa fa-lock"></i> Change Password </a></li>
                                     <li><a href="#" class="text-theme"><i class="fa fa-power-off"></i> Logout </a></li>
                                 </ul>
                             </div>
                         </li>
                     </ul>
                 </div>
             </nav>
			</div>
         </header>

         <aside class="left-sidebar">
             <div class="scroll-sidebar">
                 <nav class="sidebar-nav">
                     <ul id="sidebarnav">
                         <li><a href="home.html"><span class="hide-menu"> Home  </span></a></li>
						 <li><a href="#"><span class="hide-menu"> Site Visit  </span></a></li>
						 <li><a class="active" href="work-visit.html"><span class="hide-menu"> Work Visit </span></a></li>
						 <li><a href="#"><span class="hide-menu"> Track Supervisor </span></a></li>
                     </ul>
                 </nav>
             </div>
         </aside>

         <div class="page-wrapper">
             <div class="container">
			 	<div class="card mt-3">
					<div class="card-body">
						<div class="sitevisit_info row">
							<div class="col-md-12">
								<span class="label-text text-theme mb-2 d-block">New Work Visit Request</span>
								<h5>Order ID: 12457862 </h5>
								<h5>Work visit - Site Visit Done</h5>
							</div>
						</div>

						<div class="sitevisit_info row mt-3">
							<div class="col-lg-4 col-md-6">
								<div class="d-flex itemCustomer">
									<div class="leftText"><p class="mb-0">Customer Name:</p></div>
									<div class="rightText"><p class="mb-0">Mahesh Patel</p></div>
								</div>
								<div class="d-flex itemCustomer">
									<div class="leftText"><p class="mb-0">Mobile No:</p></div>
									<div class="rightText"><p class="mb-0">+91 8899997755</p></div>
								</div>
								<div class="d-flex itemCustomer">
									<div class="leftText"><p class="mb-0">Email ID:</p></div>
									<div class="rightText"><p class="mb-0">mahesh@gmail.com</p></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="d-flex itemCustomer">
									<div class="rightText">
										<p class="mb-1">Site Address</p>
										<h5 class="mb-1">Mr. Mitesh Shah</h5>
										<p class="mb-0">16-Shivalik Plaza, Nr. Rajpath Club Bodakdev Cross Road, Ahemedabad-15</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 text-lg-right pt-2">
								<a href="#" class="btn btn-flat-orange btn-md">Edit Quote</a>
								<span class="label-text text-blue mt-2 d-block">Pay in Cash Mode</span>							</div>
						</div>

						<div class="row pt-3">
							<div class="col-lg-4 col-sm-6"><p class="mb-2"><span class="font-weight-500">Service Time: </span> 12 Dec 2020, 03:00 PM </p></div>
							<div class="col-lg-4 col-sm-6"><p class="mb-2"><span class="font-weight-500">Supervisor:</span> Imran Khan</p></div>
							<div class="col-lg-4 col-sm-6"><p class="mb-2"><span class="font-weight-500">Timeline to Complete Service:</span> 01 Day (Approx)</p></div>
						</div>

						<hr>
						<div class="row">
							<div class="col-xl-4 col-md-6">
								<div class="quote_boxes">
									<div class="d-flex quote_item"><h5 class="mb-0">Quotation</h5> <div class="ml-auto"><p class="mb-0">1250 AED</p></div></div>
									<div class="d-flex quote_item"><p class="mb-0">Quoted on : 10 Dec, 2020</p> <div class="ml-auto"><a href="#">View Quotation</a></div></div>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="quote_boxes">
									<div class="d-flex quote_item"><h5 class="mb-0">Site Visit Report</h5> <!--<div class="ml-auto"><p class="mb-0">1250 AED</p></div>--></div>
									<div class="d-flex quote_item"><p class="mb-0">Visited on : 12 Dec, 2020</p> <div class="ml-auto"><a href="#">View Quotation</a></div></div>
								</div>
							</div>
							<div class="col-xl-4 col-md-6">
								<div class="quote_boxes">
									<div class="d-flex quote_item"><h5 class="mb-0">Customer Issue</h5> </div>
									<div class="d-flex quote_item"><p class="mb-0">Submitted on : 12 Dec, 2020</p> <div class="ml-auto"><a href="#">View Quotation</a></div></div>
								</div>
							</div>
						</div>

						<div class="inspection_details expanded_section mt-3">
							<div class="row">
								<div class="col-lg-3 col-sm-6">
									<p class="mb-2"><span class="font-weight-500">Service Duration</span></p>
									<p class="mb-2">01 Day(s)</p>
								</div>
								<div class="col-lg-3 col-sm-6">
									<p class="mb-2"><span class="font-weight-500">No. of Workers</span></p>
									<p class="mb-2">02</p>
								</div>
							</div>

							<div class="RequireMaterial pt-3">
								<div class="table-responsive">
									<table class="table table-striped table-bordered ">
									  <thead>
										<tr>
										  <th scope="col">Item Description</th>
										  <th scope="col">Qty</th>
										  <th scope="col">Unit</th>
										  <th scope="col">Price per Unit</th>
										  <th scope="col">Total Price</th>
										</tr>
									  </thead>
									  <tbody>
										<tr>
										  <th scope="row">Pendant Bulb</th>
										  <td>20 Mtr</td>
										  <td>Mtr</td>
										  <td>10 AED</td>
										  <td>1000 AED</td>
										</tr>
										<tr>
										  <th scope="row">Holder bakelite</th>
										  <td>02 Pcs</td>
										  <td>Pcs</td>
										  <td>10 AED</td>
										  <td>2000 AED</td>
										</tr>
										<tr>
										  <th scope="row">Pendant switch</th>
										  <td>01 Pcs</td>
										  <td>Pcs</td>
										  <td>30 AED</td>
										  <td>3000 AED</td>
										</tr>
									  </tbody>
									</table>
								</div>
							</div>

							<div class="ChargeTransport pt-3">
								<h5 class="mb-3">Service & Transport Charge</h5>
								<div class="row">
									<div class="col-lg-3 col-6"><p class="mb-1">Service Charge</p></div>
									<div class="col-lg-3 col-6"><p class="mb-1">1050 AED</p></div>
								</div>
								<div class="row">
									<div class="col-lg-3 col-6"><p class="mb-1">Tax(%)</p></div>
									<div class="col-lg-3 col-6"><p class="mb-1">50 AED</p></div>
								</div>
							</div>

							<div class="ChargeTransport pt-3">
								<h5 class="mb-3">Other Charge</h5>
								<div class="row">
									<div class="col-lg-3 col-6"><p class="mb-1">Other</p></div>
									<div class="col-lg-3 col-6"><p class="mb-1">1000 AED</p></div>
								</div>
							</div>

							<br>
							<div class="ChargeTransport pt-3">
								<div class="row">
									<div class="col-lg-6">
										<h5 class="mb-3">Total of Quotation</h5>
										<div class="row">
											<div class="col-lg-6 col-6"><p class="mb-1">Material Charge</p></div>
											<div class="col-lg-6 col-6"><p class="mb-1">1050 AED</p></div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-6"><p class="mb-1">Service Charge</p></div>
											<div class="col-lg-6 col-6"><p class="mb-1">50 AED</p></div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-6"><p class="mb-1">Tax(%)</p></div>
											<div class="col-lg-6 col-6"><p class="mb-1">50 AED</p></div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-6"><p class="mb-1">Other Charge</p></div>
											<div class="col-lg-6 col-6"><p class="mb-1">100 AED</p></div>
										</div>
										<div class="row">
											<div class="col-lg-6 col-6"><p class="mb-1 font-weight-500">Total to Pay</p></div>
											<div class="col-lg-6 col-6"><p class="mb-1 font-weight-500">1250 AED</p></div>
										</div>
									</div>
									<div class="col-lg-6 pt-3">
										<h5 class="mb-3">Terms & Conditions</h5>
										<ul class="pl-3">
											<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </li>
											<li>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
											<li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex
ea commodo consequat. Duis aute irure dolo.</li>
											<li>tempor incididunt ut labore et dolore magna aliqua. Ut enim.</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
             </div>

             <footer class="footer text-center"> &copy; KEGI. All rights reserved. </footer>
         </div>
     </div>

 </body>

