<body class="fix-header fix-sidebar card-no-border">
  <div class="preloader" style="display: none">
    <svg class="circular" viewbox="25 25 50 50">
      <circle
        class="path"
        cx="50"
        cy="50"
        r="20"
        fill="none"
        stroke-width="2"
        stroke-miterlimit="10"
      ></circle>
    </svg>
  </div>

  <div id="main-wrapper">
    <header class="topbar">
      <div class="container">
        <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
          <div class="navbar-header">
            <a class="navbar-brand"
              ><img src="assets/images/logo.png" alt="KEGI" class="dark-logo" />
            </a>
          </div>

          <div class="main-menu">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
              <ul class="navbar-nav my-lg-0">
                <li class="nav-item noarrowdrop">
                  <a
                    class="nav-link dropdown-toggle active"
                    routerLink="/home"
                    routerLinkActive="active"
                  >
                    <span>Home</span></a
                  >
                </li>
                <li class="nav-item noarrowdrop">
                  <a
                    class="nav-link dropdown-toggle"
                    routerLink="/site-visit"
                    routerLinkActive="active"
                    ><span>Site Visit</span></a
                  >
                </li>
                <li class="nav-item noarrowdrop">
                  <a
                    class="nav-link dropdown-toggle"
                    routerLink="/work-visit"
                    routerLinkActive="active"
                    ><span>Work Visit</span></a
                  >
                </li>
                <li class="nav-item noarrowdrop">
                  <a class="nav-link dropdown-toggle" href="#"
                    ><span>Track Supervisor</span></a
                  >
                </li>
                <li class="nav-item noarrowdrop">
                  <a
                    class="nav-link dropdown-toggle"
                    routerLink="/supervisor-schedul"
                    routerLinkActive="active"
                    ><span>Supervisor Schedul</span></a
                  >
                </li>
              </ul>
            </nav>
          </div>

          <div class="navbar-collapse ml-auto" style="width: auto">
            <ul class="navbar-nav mr-auto mt-md-0">
              <li class="nav-item">
                <a class="nav-link nav-toggler hidden-md-up"
                  ><i class="fa fa-bars"></i
                ></a>
              </li>
            </ul>

            <ul class="navbar-nav my-lg-0 topmenu-content">
              <li class="nav-item dropdown noarrowdrop">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-bell text-theme\"></i>
                  <div class="notify"><span class="point"></span></div>
                </a>
                <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                  <ul>
                    <li>
                      <div class="drop-title">Notifications</div>
                    </li>
                    <li>
                      <div class="message-center">
                        <a href="#" class="d-flex">
                          <div class="mail-contnet">
                            <h5>Luanch Admin</h5>
                            <span class="mail-desc"
                              >Just see the my admin!
                            </span>
                          </div>
                          <div class="ml-auto">
                            <small class="time text-muted">9:30 AM </small>
                          </div>
                        </a>
                        <a href="#" class="d-flex">
                          <div class="mail-contnet">
                            <h5>Event today</h5>
                            <span class="mail-desc"
                              >Just a reminder that have event
                            </span>
                          </div>
                          <div class="ml-auto">
                            <small class="time text-muted">9:10 AM </small>
                          </div>
                        </a>
                        <a href="#" class="d-flex">
                          <div class="mail-contnet">
                            <h5>Pavan kumar</h5>
                            <span class="mail-desc"
                              >You can customize this as you want
                            </span>
                          </div>
                          <div class="ml-auto">
                            <small class="time text-muted">9:08 AM </small>
                          </div>
                        </a>
                        <a href="#" class="d-flex">
                          <div class="mail-contnet">
                            <h5>Event today</h5>
                            <span class="mail-desc"
                              >Just a reminder that have event
                            </span>
                          </div>
                          <div class="ml-auto">
                            <small class="time text-muted">9:10 AM </small>
                          </div>
                        </a>
                        <a href="#" class="d-flex">
                          <div class="mail-contnet">
                            <h5>Event today</h5>
                            <span class="mail-desc"
                              >Just a reminder that have event
                            </span>
                          </div>
                          <div class="ml-auto">
                            <small class="time text-muted">9:10 AM </small>
                          </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <a class="nav-link text-center">
                        <strong>Check all notifications </strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-user"></i>
                  <span class="d-none d-lg-inline-block">
                    &nbsp; Anjali Shekharan</span
                  ></a
                >
                <div class="dropdown-menu dropdown-menu-right scale-up">
                  <ul class="dropdown-user">
                    <li>
                      <a
                        routerLink="my-profile"
                        routerLinkActive="active"
                        class="dw-user-box"
                      >
                        <div class="u-img"><i class="fa fa-user"></i></div>
                        <div class="u-text">
                          <h4>Anjali Shekharan</h4>
                          <p class="text-muted">Office Assistant</p>
                        </div>
                      </a>
                      <div class="email_mobile_links d-flex">
                        <div class="textemail"><p class="mb-2">Email:</p></div>
                        <div class="textemail_r">
                          <p class="mb-2">anjali@gmail.com</p>
                        </div>
                      </div>
                      <div class="email_mobile_links d-flex">
                        <div class="textemail"><p class="mb-2">Mobile:</p></div>
                        <div class="textemail_r">
                          <p class="mb-2">+91 4578784541</p>
                        </div>
                      </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#" class="text-theme"
                        ><i class="fa fa-lock"></i> Change Password
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-theme"
                        ><i class="fa fa-power-off"></i> Logout
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>


    <aside class="left-sidebar">
      <div class="scroll-sidebar">
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li>
              <a class="active"
                ><span class="hide-menu"> Home </span></a
              >
            </li>
            <li>
              <a routerLink="/office-assistant/site-visit" routerLinkActive="active"
                ><span class="hide-menu"> Site Visit </span></a
              >
            </li>
            <li>
              <a routerLinkActive="active" routerLink="/work-visit"
                ><span class="hide-menu"> Work Visit </span></a
              >
            </li>
            <li>
              <a href="#"><span class="hide-menu"> Track Supervisor </span></a>
            </li>
            <li>
              <a routerLink="supervisor-schedul" routerLinkActive="active"
                ><span class="hide-menu"> Supervisor Schedul </span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </aside>

    <div class="page-wrapper">
      <div class="container">
        <div class="row pt-3">
          <div class="col-lg-6">
            <h4 class="title_head">New Site Visit Request</h4>
            <br />
            <div class="boxesHome">
              <a href="#" class="colored-box box-yellow mb-2">
                <h3>12</h3>
                <p>Pending to Quote</p>
              </a>
              <a href="#" class="colored-box box-yellow-bordred ml-1 mb-2">
                <h3>12</h3>
                <p>Reschedule Request</p>
              </a>
              <a href="#" class="float-right">View All</a>
            </div>

            <br />
            <div class="card" style="overflow: hidden">
              <div class="table-responsive">
                <table class="table product-overview">
                  <thead class="thead-secondary">
                    <tr>
                      <th>Service</th>
                      <th>Customer</th>
                      <th>Received On</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="4" class="bg-emerancy">
                        <table>
                          <tbody>
                            <tr>
                              <td class="border-0 p-0">
                                <div class="procesby">Emergency</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td>Electrician</td>
                      <td>
                        <p class="mb-0">Mahesh Patel</p>
                        <p class="mb-0">+91 8899997755</p>
                      </td>
                      <td>
                        <p class="mb-0">Today, 05 Dec 2020</p>
                        <p class="mb-0">03:00 PM</p>
                      </td>
                      <td>
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="View"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bg-servicetoday">
                        <table>
                          <tbody>
                            <tr>
                              <td class="border-0 p-0">
                                <div class="procesby">Service Date: Today</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>Plumber</td>
                      <td>
                        <p class="mb-0">Suman Lal</p>
                        <p class="mb-0">+91 8899997755</p>
                      </td>
                      <td>
                        <p class="mb-0">Today, 05 Dec 2020</p>
                        <p class="mb-0">02:00 PM</p>
                      </td>
                      <td>
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="View"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h4 class="title_head">New Work Visit Request</h4>
            <br />
            <div class="boxesHome">
              <a href="#" class="colored-box box-yellow mb-2">
                <h3>12</h3>
                <p>Pending to Assign</p>
              </a>
              <a href="#" class="colored-box box-yellow-bordred ml-1 mb-2">
                <h3>12</h3>
                <p>Reschedule Request</p>
              </a>
              <a href="#" class="float-right">View All</a>
            </div>
            <br />
            <div class="card" style="overflow: hidden">
              <div class="table-responsive">
                <table class="table product-overview">
                  <thead class="thead-secondary">
                    <tr>
                      <th>Service</th>
                      <th>Customer</th>
                      <th>Received On</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="4" class="bg-emerancy">
                        <table>
                          <tbody>
                            <tr>
                              <td class="border-0 p-0">
                                <div class="procesby">Emergency</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td>Electrician</td>
                      <td>
                        <p class="mb-0">Mahesh Patel</p>
                        <p class="mb-0">+91 8899997755</p>
                      </td>
                      <td>
                        <p class="mb-0">Today, 05 Dec 2020</p>
                        <p class="mb-0">03:00 PM</p>
                      </td>
                      <td>
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="View"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                        <a
                          class="ml-1"
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="Print"
                          ><i class="fa fa-print"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bg-servicetoday">
                        <table>
                          <tbody>
                            <tr>
                              <td class="border-0 p-0">
                                <div class="procesby">Service Date: Today</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>Plumber</td>
                      <td>
                        <p class="mb-0">Suman Lal</p>
                        <p class="mb-0">+91 8899997755</p>
                      </td>
                      <td>
                        <p class="mb-0">Today, 05 Dec 2020</p>
                        <p class="mb-0">02:00 PM</p>
                      </td>
                      <td>
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="View"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                        <a
                          class="ml-1"
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="Print"
                          ><i class="fa fa-print"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-lg-6">
            <h4 class="title_head">Work Visit Due Time</h4>
            <br />
            <div class="boxesHome">
              <a href="#" class="colored-box box-dark">
                <h3>04</h3>
                <p>Pending to Assisgn</p>
              </a>
              <a href="#" class="float-right">View All</a>
            </div>

            <br />
            <div class="card" style="overflow: hidden">
              <div class="table-responsive">
                <table class="table product-overview">
                  <thead class="thead-secondary">
                    <tr>
                      <th>Service</th>
                      <th>Customer</th>
                      <th>Received On</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Electrician</td>
                      <td>
                        <p class="mb-0">Mahesh Patel</p>
                        <p class="mb-0">+91 8899997755</p>
                      </td>
                      <td>
                        <p class="mb-0">Today, 05 Dec 2020</p>
                        <p class="mb-0">03:00 PM</p>
                      </td>
                      <td>
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="View"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td>Plumber</td>
                      <td>
                        <p class="mb-0">Suman Lal</p>
                        <p class="mb-0">+91 8899997755</p>
                      </td>
                      <td>
                        <p class="mb-0">Today, 05 Dec 2020</p>
                        <p class="mb-0">02:00 PM</p>
                      </td>
                      <td>
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="View"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h4 class="title_head">Require to decide Type of Service</h4>
            <br />
            <div class="boxesHome">
              <a href="#" class="colored-box box-dark">
                <h3>03</h3>
                <p>Pending to Assign</p>
              </a>
              <a href="#" class="float-right">View All</a>
            </div>

            <br />
            <div class="card" style="overflow: hidden">
              <div class="table-responsive">
                <table class="table product-overview">
                  <thead class="thead-secondary">
                    <tr>
                      <th>Service</th>
                      <th>Customer</th>
                      <th>Received On</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="4" class="bg-emerancy">
                        <table>
                          <tbody>
                            <tr>
                              <td class="border-0 p-0">
                                <div class="procesby">Emergency</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                    <tr>
                      <td>Electrician</td>
                      <td>
                        <p class="mb-0">Mahesh Patel</p>
                        <p class="mb-0">+91 8899997755</p>
                      </td>
                      <td>
                        <p class="mb-0">Today, 05 Dec 2020</p>
                        <p class="mb-0">03:00 PM</p>
                      </td>
                      <td>
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="View"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bg-servicetoday">
                        <table>
                          <tbody>
                            <tr>
                              <td class="border-0 p-0">
                                <div class="procesby">Service Date: Today</div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>Plumber</td>
                      <td>
                        <p class="mb-0">Suman Lal</p>
                        <p class="mb-0">+91 8899997755</p>
                      </td>
                      <td>
                        <p class="mb-0">Today, 05 Dec 2020</p>
                        <p class="mb-0">02:00 PM</p>
                      </td>
                      <td>
                        <a
                          href="#"
                          data-toggle="tooltip"
                          data-original-title="View"
                          ><i class="fa fa-pencil-square-o"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer text-center">
        &copy; KEGI. All rights reserved.
      </footer>
    </div>
  </div>


</body>
