

 <body class="fix-header fix-sidebar card-no-border">
     <div class="preloader" style="display: none;">
         <svg class="circular" viewbox="25 25 50 50">
             <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>  </svg>
     </div>

     <div id="main-wrapper">
         <header class="topbar">
		 	<div class="container">
             <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                 <div class="navbar-header">
                     <a class="navbar-brand" href="dashboard.html"><img src="../images/logo.png" alt="KEGI" class="dark-logo" /> </a>				 </div>

				 <div class="main-menu">
					<nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
						<ul class="navbar-nav my-lg-0">
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" routerLink="/home" routerLinkActive="active"> > <span>Home</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" routerLink="site-visit" routerLinkActive="active"><span>Site Visit</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle active"  routerLink="work-visit" routerLinkActive="active"><span>Work Visit</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" href="#"><span>Track Supervisor</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle"  routerLink="supervisor-schedul" routerLinkActive="active"><span>Supervisor Schedul</span></a></li>
						</ul>
					</nav>
				 </div>

                 <div class="navbar-collapse ml-auto" style="width:auto;">
                     <ul class="navbar-nav mr-auto mt-md-0">
                         <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up" href="javascript:void(0)"><i class="fa fa-bars"></i></a>  </li>
                     </ul>

                     <ul class="navbar-nav my-lg-0 topmenu-content">
                         <li class="nav-item dropdown noarrowdrop">
                             <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  <i class="fa fa-bell text-theme"></i>
                                 <div class="notify"> <span class="point"></span>  </div>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                 <ul>
                                     <li>
                                         <div class="drop-title">Notifications </div>
                                     </li>
                                     <li>
                                         <div class="message-center">
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                 	  <h5>Luanch Admin </h5>  <span class="mail-desc">Just see the my  admin! </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:30 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
											 	<div class="mail-contnet">
                                                  	<h5>Pavan kumar </h5>  <span class="mail-desc">You can customize this  as you want </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:08 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>
											 <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>										</div>
                                     </li>
                                     <li>
                                         <a class="nav-link text-center" href="javascript:void(0);">  <strong>Check all notifications </strong>  <i class="fa fa-angle-right"></i>  </a>                                     </li>
                                 </ul>
                             </div>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i>
  <span class="d-none d-lg-inline-block"> &nbsp; Anjali Shekharan</span></a>
                             <div class="dropdown-menu dropdown-menu-right scale-up">
                                 <ul class="dropdown-user">
                                     <li>
                                         <a href="my-profile.html" class="dw-user-box">
                                             <div class="u-img"><i class="fa fa-user"></i> </div>
                                             <div class="u-text">
                                                 <h4>Anjali Shekharan </h4>
                                                 <p class="text-muted">Office Assistant</p>
											</div>
                                         </a>
										 <div class="email_mobile_links d-flex">
										 	<div class="textemail"><p class="mb-2">Email:</p></div>
											<div class="textemail_r"><p class="mb-2">anjali@gmail.com</p></div>
										 </div>
										 <div class="email_mobile_links d-flex">
										 	<div class="textemail"><p class="mb-2">Mobile:</p></div>
											<div class="textemail_r"><p class="mb-2">+91 4578784541</p></div>
										 </div>
                                     </li>
									 <li role="separator" class="divider"></li>
                                     <li><a href="#" class="text-theme"><i class="fa fa-lock"></i> Change Password </a></li>
                                     <li><a href="#" class="text-theme"><i class="fa fa-power-off"></i> Logout </a></li>
                                 </ul>
                             </div>
                         </li>
                     </ul>
                 </div>
             </nav>
			</div>
         </header>


         <aside class="left-sidebar">
             <div class="scroll-sidebar">
                 <nav class="sidebar-nav">
                     <ul id="sidebarnav">
                         <li><a href="home.html"><span class="hide-menu"> Home  </span></a></li>
						 <li><a href="site-visit.html"><span class="hide-menu"> Site Visit  </span></a></li>
						 <li><a href="work-visit.html"><span class="hide-menu"> Work Visit </span></a></li>
						 <li><a href="#"><span class="hide-menu"> Track Supervisor </span></a></li>
						 <li><a class="active" href="supervisor-schedul.html"><span class="hide-menu"> Supervisor Schedul </span></a></li>
                     </ul>
                 </nav>
             </div>
         </aside>

         <div class="page-wrapper">
             <div class="container">
			 	<div class="visit_searchbox">
					<br>
					<div class="row align-items-center">
						<div class="col-lg-2 col-md-3 col-sm-4"><h4 class="mb-sm-0">Supervisor Schedule</h4></div>
						<div class="col-lg-4 col-md-6 col-sm-8">
							<div class="form-group mb-0">
								<input type="text" class="form-control" id="searchBox" placeholder="Search..">
								<span class="addons"><i class="fa fa-search"></i></span>
							</div>
						</div>

					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<div class="card">
							<div class="headersuper"><h4 class="mb-0">Supervisor Name</h4></div>
							<div class="supervisior_list chat-box">
								<a href="#">
									<h5 class="mb-1">Rahul Arora</h5>
									<p class="mb-0">Plumber</p>
								</a>
								<a href="#" class="active">
									<h5 class="mb-1">Maahi Sharma</h5>
									<p class="mb-0">Electrician</p>
								</a>
								<a href="#">
									<h5 class="mb-1">Arun Saahu</h5>
									<p class="mb-0">Carpenter</p>
								</a>
								<a href="#">
									<h5 class="mb-1">Baani Akshari</h5>
									<p class="mb-0">Plumber</p>
								</a>
								<a href="#">
									<h5 class="mb-1">Aarjav Khatri</h5>
									<p class="mb-0">Electrician</p>
								</a>
								<a href="#">
									<h5 class="mb-1">Rahul Arora</h5>
									<p class="mb-0">Plumber</p>
								</a>
								<a href="#">
									<h5 class="mb-1">Mahesh Patel</h5>
									<p class="mb-0">Plumber</p>
								</a>
								<a href="#">
									<h5 class="mb-1">Baani Akshari</h5>
									<p class="mb-0">Electrician</p>
								</a>
								<a href="#">
									<h5 class="mb-1">Rahul Arora</h5>
									<p class="mb-0">Plumber</p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-8">
						<div class="card">
							 <div class="p-1 calender_section">
								 <div id="calendar"></div>
								 <!-- BEGIN MODAL -->
								 <div class="modal fade none-border" id="my-event">
									 <div class="modal-dialog">
										 <div class="modal-content">
											 <div class="modal-header">
												 <h4 class="modal-title"><strong>Add Event </strong></h4>
												 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
											 </div>
											 <div class="modal-body"></div>
											 <div class="modal-footer">
												 <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close </button>
												 <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event </button>
												 <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete </button>
											 </div>
										 </div>
									 </div>
								 </div>
								 <!-- Modal Add Category -->
								 <div class="modal fade none-border" id="add-new-event">
									 <div class="modal-dialog">
										 <div class="modal-content">
											 <div class="modal-header">
												 <h4 class="modal-title"><strong>Add </strong> a category </h4>
												 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
											 </div>
											 <div class="modal-body">
												 <form>
													 <div class="row">
														 <div class="col-md-6">
															 <label class="control-label">Category Name </label>
															 <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />
														 </div>
														 <div class="col-md-6">
															 <label class="control-label">Choose Category Color </label>
															 <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
																 <option value="success" >Success </option>
																 <option value="danger" >Danger
																 <option value="info" >Info
																 <option value="primary" >Primary
																 <option value="warning" >Warning
																 <option value="inverse" >Inverse
															 </select>
														 </div>
													 </div>
												 </form>
											 </div>
											 <div class="modal-footer">
												 <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save </button>
												 <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close </button>
											 </div>
										 </div>
									 </div>
								 </div>
								 <!-- END MODAL -->
							 </div>
						 </div>
				 	</div>
				</div>

             </div>

             <footer class="footer text-center"> &copy; KEGI. All rights reserved. </footer>
         </div>
     </div>
 </body>

