

 <body class="fix-header fix-sidebar card-no-border">
     <div class="preloader" style="display: none;">
         <svg class="circular" viewbox="25 25 50 50">
             <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>  </svg>
     </div>

     <div id="main-wrapper">
         <header class="topbar">
		 	<div class="container">
             <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                 <div class="navbar-header">
                     <a class="navbar-brand" href="dashboard.html"><img src="../images/logo.png" alt="KEGI" class="dark-logo" /> </a>				 </div>

				 <div class="main-menu">
					<nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
						<ul class="navbar-nav my-lg-0">
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" routerLink="home" routerLinkActive="active"> <span>Home</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" href="#"><span>Site Visit</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle active" href="work-visit.html"><span>Work Visit</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" href="#"><span>Track Supervisor</span></a></li>
						</ul>
					</nav>
				 </div>

                 <div class="navbar-collapse ml-auto" style="width:auto;">
                     <ul class="navbar-nav mr-auto mt-md-0">
                         <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up" href="javascript:void(0)"><i class="fa fa-bars"></i></a>  </li>
                     </ul>

                     <ul class="navbar-nav my-lg-0 topmenu-content">
                         <li class="nav-item dropdown noarrowdrop">
                             <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  <i class="fa fa-bell text-theme"></i>
                                 <div class="notify"> <span class="point"></span>  </div>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                 <ul>
                                     <li>
                                         <div class="drop-title">Notifications </div>
                                     </li>
                                     <li>
                                         <div class="message-center">
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                 	  <h5>Luanch Admin </h5>  <span class="mail-desc">Just see the my  admin! </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:30 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
											 	<div class="mail-contnet">
                                                  	<h5>Pavan kumar </h5>  <span class="mail-desc">You can customize this  as you want </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:08 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>
											 <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>										</div>
                                     </li>
                                     <li>
                                         <a class="nav-link text-center" href="javascript:void(0);">  <strong>Check all notifications </strong>  <i class="fa fa-angle-right"></i>  </a>                                     </li>
                                 </ul>
                             </div>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i>
  <span class="d-none d-lg-inline-block"> &nbsp; Pritesh Shah</span></a>
                             <div class="dropdown-menu dropdown-menu-right scale-up">
                                 <ul class="dropdown-user">
                                     <li>
                                         <a href="my-profile.html" class="dw-user-box">
                                             <div class="u-img"><i class="fa fa-user"></i> </div>
                                             <div class="u-text">
                                                 <h4>Pritesh Shah </h4>
                                                 <p class="text-muted">Office Assistant</p>
											</div>
                                         </a>
										 <div class="email_mobile_links d-flex">
										 	<div class="textemail"><p class="mb-2">Email:</p></div>
											<div class="textemail_r"><p class="mb-2">prites@gmail.com</p></div>
										 </div>
										 <div class="email_mobile_links d-flex">
										 	<div class="textemail"><p class="mb-2">Mobile:</p></div>
											<div class="textemail_r"><p class="mb-2">+91 4578784541</p></div>
										 </div>
                                     </li>
									 <li role="separator" class="divider"></li>
                                     <li><a href="#" class="text-theme"><i class="fa fa-lock"></i> Change Password </a></li>
                                     <li><a href="#" class="text-theme"><i class="fa fa-power-off"></i> Logout </a></li>
                                 </ul>
                             </div>
                         </li>
                     </ul>
                 </div>
             </nav>
			</div>
         </header>

         <aside class="left-sidebar">
             <div class="scroll-sidebar">
                 <nav class="sidebar-nav">
                     <ul id="sidebarnav">
                         <li><a routerLink="home" routerLinkActive="active"><span class="hide-menu"> Home  </span></a></li>
						 <li><a href="#"><span class="hide-menu"> Site Visit  </span></a></li>
						 <li><a class="active" href="work-visit.html" routerLink="/work-visit" routerLinkActive="active"><span class="hide-menu"> Work Visit </span></a></li>
						 <li><a href="#"><span class="hide-menu"> Track Supervisor </span></a></li>
                     </ul>
                 </nav>
             </div>
         </aside>

         <div class="page-wrapper">
             <div class="container">
			 	<div class="visit_searchbox">
					<br>
					<div class="row align-items-center">
						<div class="col-lg-2 col-md-3 col-sm-4"><h4 class="mb-sm-0">Work Visit</h4></div>
						<div class="col-lg-4 col-md-6 col-sm-8">
							<div class="form-group mb-0">
								<input type="text" class="form-control" id="searchBox" placeholder="Search..">
								<span class="addons"><i class="fa fa-search"></i></span>							</div>
						</div>
					</div>
				</div>

			 	<div class="information-content row mt-3">
					<div class="col-lg-2 col-md-3 col-sm-6">
						<a  class="colored-box box-gray"
            routerLink="work-visit"
            routerLinkActive="active">
							<h3>05</h3>
							<p>New Request</p>
						</a>					</div>
					<div class="col-lg-2 col-md-3 col-sm-6">
						<a href="work-visit-quoted.html" class="colored-box box-yellow active">
							<h3>05</h3>
							<p>Quoted</p>
						</a>								</div>
					<div class="col-lg-2 col-md-3 col-sm-6">
						<a routerLink="work-visit-confirmed"
            routerLinkActive="active" class="colored-box box-gray">
							<h3>07</h3>
							<p>Confirmed </p>
						</a>								</div>
					<div class="col-lg-2 col-md-3 col-sm-6">
						<a href="#" class="colored-box box-gray">
							<h3>05</h3>
							<p>Rejected</p>
						</a>								</div>
					<div class="col-lg-2 col-md-3 col-sm-6">
						<a href="#" class="colored-box box-gray">
							<h3>07</h3>
							<p>On Going</p>
						</a>					</div>
					<div class="col-lg-2 col-md-3 col-sm-6">
						<a href="#" class="colored-box box-gray">
							<h3>05</h3>
							<p>Completed</p>
						</a>					</div>
					<div class="col-lg-2 col-md-3 col-sm-6">
						<a href="#" class="colored-box box-gray">
							<h3>07</h3>
							<p>All</p>
						</a>					</div>
				</div>

			 	<div class="row pt-3">
					<div class="col-md-12">
						<div class="card mt-3" style="overflow:hidden;">
							<div class="table-responsive">
								 <table class="table product-overview">
									 <thead class="thead-secondary">
										 <tr>
											 <th>Order Id</th>
											 <th>Service </th>
											 <th>Survey Status</th>
											 <th>Customer</th>
											 <th>Quoted On</th>
											 <th>Quotation</th>
											 <th>Action</th>
										 </tr>
									 </thead>
									 <tbody>
									 	 <tr>
											 <td>123154555 </td>
											 <td>Plumber </td>
											 <td>Variation </td>
											 <td><p class="mb-0">Suman Lal</p> <p class="mb-0">+91 8899997755</p></td>
											 <td><p class="mb-0">Today, 05 Dec 2020</p> <p class="mb-0">03:00 PM</p></td>
											 <td>1,800 AED</td>
											 <td><a
                        routerLink="work-visit-quoted-details"
                        routerLinkActive="active" data-toggle="tooltip" data-original-title="View"><i class="fa fa-pencil-square-o"></i></a> </td>
										 </tr>
										 <tr>
											 <td>12457862 </td>
											 <td>Electrician </td>
											 <td>Direct Request </td>
											 <td><p class="mb-0">Mahesh Patel</p> <p class="mb-0">+91 8899997755</p></td>
											 <td><p class="mb-0">Today, 05 Dec 2020</p> <p class="mb-0">03:00 PM</p></td>
											 <td>2,020 AED</td>
											 <td><a
                        routerLink="work-visit-quoted-details"
                        routerLinkActive="active" data-toggle="tooltip" data-original-title="View"><i class="fa fa-pencil-square-o"></i></a></td>
										 </tr>
										 <tr>
											 <td>123154555 </td>
											 <td>Plumber </td>
											 <td>Variation </td>
											 <td><p class="mb-0">Suman Lal</p> <p class="mb-0">+91 8899997755</p></td>
											 <td><p class="mb-0">Today, 05 Dec 2020</p> <p class="mb-0">03:00 PM</p></td>
											 <td>1,800 AED</td>
											 <td>
                         <a
                        routerLink="work-visit-quoted-details"
                        routerLinkActive="active" data-toggle="tooltip" data-original-title="View"><i class="fa fa-pencil-square-o"></i></a> </td>
										 </tr>
									 </tbody>
								 </table>
						 	</div>
						</div>
					</div>
				</div>
             </div>

             <footer class="footer text-center"> &copy; KEGI. All rights reserved. </footer>
         </div>
     </div>


 </body>

