

 <body class="fix-header fix-sidebar card-no-border">
     <div class="preloader" style="display: none;">
         <svg class="circular" viewbox="25 25 50 50">
             <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>  </svg>
     </div>

     <div id="main-wrapper">
         <!-- <header class="topbar">
		 	<div class="container">
             <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                 <div class="navbar-header">
                     <a class="navbar-brand" href="dashboard.html"><img src="../images/logo.png" alt="KEGI" class="dark-logo" /> </a>				 </div>

				 <div class="main-menu">
					<nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
						<ul class="navbar-nav my-lg-0">
              <li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" routerLink="home" routerLinkActive="active"> > <span>Home</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" routerLink="site-visit" routerLinkActive="active"><span>Site Visit</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle active"  routerLink="work-visit" routerLinkActive="active"><span>Work Visit</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle" href="#"><span>Track Supervisor</span></a></li>
							<li class="nav-item noarrowdrop"><a class="nav-link dropdown-toggle"  routerLink="supervisor-schedul" routerLinkActive="active"><span>Supervisor Schedul</span></a></li>
						</ul>
					</nav>
				 </div>

                 <div class="navbar-collapse ml-auto" style="width:auto;">
                     <ul class="navbar-nav mr-auto mt-md-0">
                         <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up" href="javascript:void(0)"><i class="fa fa-bars"></i></a>  </li>
                     </ul>

                     <ul class="navbar-nav my-lg-0 topmenu-content">
                         <li class="nav-item dropdown noarrowdrop">
                             <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  <i class="fa fa-bell text-theme"></i>
                                 <div class="notify"> <span class="point"></span>  </div>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                                 <ul>
                                     <li>
                                         <div class="drop-title">Notifications </div>
                                     </li>
                                     <li>
                                         <div class="message-center">
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                 	  <h5>Luanch Admin </h5>  <span class="mail-desc">Just see the my  admin! </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:30 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
											 	<div class="mail-contnet">
                                                  	<h5>Pavan kumar </h5>  <span class="mail-desc">You can customize this  as you want </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:08 AM </small> </div>
                                             </a>
                                             <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>
											 <a href="#" class="d-flex">
                                                 <div class="mail-contnet">
                                                  	<h5>Event today </h5>  <span class="mail-desc">Just a reminder that  have event </span>												 </div>
												 <div class="ml-auto"> <small class="time text-muted">9:10 AM </small> </div>
                                             </a>										</div>
                                     </li>
                                     <li>
                                         <a class="nav-link text-center" href="javascript:void(0);">  <strong>Check all notifications </strong>  <i class="fa fa-angle-right"></i>  </a>                                     </li>
                                 </ul>
                             </div>
                         </li>
                         <li class="nav-item dropdown">
                             <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i>
  <span class="d-none d-lg-inline-block"> &nbsp; Anjali Shekharan</span></a>
                             <div class="dropdown-menu dropdown-menu-right scale-up">
                                 <ul class="dropdown-user">
                                     <li>
                                         <a href="my-profile.html" class="dw-user-box">
                                             <div class="u-img"><i class="fa fa-user"></i> </div>
                                             <div class="u-text">
                                                 <h4>Anjali Shekharan </h4>
                                                 <p class="text-muted">Office Assistant</p>
											</div>
                                         </a>
										 <div class="email_mobile_links d-flex">
										 	<div class="textemail"><p class="mb-2">Email:</p></div>
											<div class="textemail_r"><p class="mb-2">anjali@gmail.com</p></div>
										 </div>
										 <div class="email_mobile_links d-flex">
										 	<div class="textemail"><p class="mb-2">Mobile:</p></div>
											<div class="textemail_r"><p class="mb-2">+91 4578784541</p></div>
										 </div>
                                     </li>
									 <li role="separator" class="divider"></li>
                                     <li><a href="#" class="text-theme"><i class="fa fa-lock"></i> Change Password </a></li>
                                     <li><a href="#" class="text-theme"><i class="fa fa-power-off"></i> Logout </a></li>
                                 </ul>
                             </div>
                         </li>
                     </ul>
                 </div>
             </nav>
			</div>
         </header>

         <aside class="left-sidebar">
             <div class="scroll-sidebar">
                 <nav class="sidebar-nav">
                     <ul id="sidebarnav">
                         <li><a href="home.html"><span class="hide-menu"> Home  </span></a></li>
						 <li><a href="site-visit.html"><span class="hide-menu"> Site Visit  </span></a></li>
						 <li><a class="active" href="work-visit.html"><span class="hide-menu"> Work Visit </span></a></li>
						 <li><a href="#"><span class="hide-menu"> Track Supervisor </span></a></li>
						 <li><a href="supervisor-schedul.html"><span class="hide-menu"> Supervisor Schedul </span></a></li>
                     </ul>
                 </nav>
             </div>
         </aside> -->
         <app-navbar></app-navbar>

         <div class="page-wrapper">
             <div class="container">
			 	<div class="card mt-3">
					<div class="card-body">
						<div class="sitevisit_info row">
							<div class="col-md-12">
								<span class="label-text text-theme mb-2 d-block">Assigned Work Visit Request</span>
								<h5>Order ID: 12457862 </h5>
								<h5>Work visit - Site Visit Done</h5>
							</div>
							<!--<div class="col-md-6 text-right">
								<a href="#" class="btn btn-flat-orange btn-md">Prepare Quote</a>
								<span class="label-text text-blue mt-2 d-block">Site Survey Done</span>
							</div>-->
						</div>

						<div class="sitevisit_info row mt-3">
							<div class="col-lg-4 col-md-6">
								<div class="d-flex itemCustomer">
									<div class="leftText"><p class="mb-0">Customer Name:</p></div>
									<div class="rightText"><p class="mb-0">Mahesh Patel</p></div>
								</div>
								<div class="d-flex itemCustomer">
									<div class="leftText"><p class="mb-0">Mobile No:</p></div>
									<div class="rightText"><p class="mb-0">+91 8899997755</p></div>
								</div>
								<div class="d-flex itemCustomer">
									<div class="leftText"><p class="mb-0">Email ID:</p></div>
									<div class="rightText"><p class="mb-0">mahesh@gmail.com</p></div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="d-flex itemCustomer">
									<div class="rightText">
										<p class="mb-1">Site Address</p>
										<h5 class="mb-1">Mr. Mitesh Shah</h5>
										<p class="mb-0">16-Shivalik Plaza, Nr. Rajpath Club Bodakdev Cross Road, Ahemedabad-15</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 text-lg-right pt-2">
								<a href="#" class="btn btn-flat-orange btn-md">Edit Details</a>
								<span class="label-text text-blue mt-2 d-block">Pay in Cash</span>							</div>
						</div>

						<hr>
						<div class="inspection_details">
							<h5 class="mb-3">Site Inspection Details</h5>
							<div class="row">
								<div class="col-lg-4 col-sm-6"><p class="mb-2"><span class="font-weight-500">Service Time:</span> 12 Dec 2020, 03:00 PM</p></div>
								<div class="col-lg-4 col-sm-6"><p class="mb-2"><span class="font-weight-500">Timeline to Complete Service:</span> 01 Day (Approx)</p></div>
							</div>
							<div class="discript_conten pt-3">
								<p class="mb-2 font-weight-500"><b>Inspection Details:</b></p>
								<p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>

							<div class="uploaded_content">
								<h5 class="mb-3">Uploaded Image/Video</h5>
								<div class="uploaded_row form-row">
									<div class="list_item_uploaded"><img src="../images/upload1.png" alt="upload"></div>
									<div class="list_item_uploaded"><img src="../images/upload2.png" alt="upload"></div>
									<div class="list_item_uploaded"><img src="../images/upload3.png" alt="upload"></div>
									<div class="list_item_uploaded"><img src="../images/upload4.png" alt="upload"></div>
								</div>
							</div>

							<div class="RequireMaterial pt-3">
								<h5 class="mb-3">Require Material</h5>
								<div class="table-responsive">
									<table class="table table-striped table-bordered w-aboutset">
									  <thead>
										<tr>
										  <th scope="col">Item Description</th>
										  <th scope="col">Qty</th>
										</tr>
									  </thead>
									  <tbody>
										<tr>
										  <th scope="row">Pendant Bulb</th>
										  <td>01 Pcs</td>
										</tr>
										<tr>
										  <th scope="row">Holder bakelite</th>
										  <td>02 Pcs</td>
										</tr>
										<tr>
										  <th scope="row">Pendant switch</th>
										  <td>05 Pcs</td>
										</tr>
									  </tbody>
									</table>
								</div>
							</div>

							<div class="RequireMaterial pt-3">
								<h5 class="mb-3">Terms & Conditions</h5>
								<ul class="pl-3">
									<li class="pb-2">Lorem Ipsum is simply dummy text of the printing industry.</li>
									<li class="pb-2">has been the industry's standard dummy text ever since the 1500s, when an unknown printer</li>
									<li class="pb-2">took a galley of type and scrambled it to make a type specimen book.</li>
									<li class="pb-2">It was popularised in the 1960s with the release of Letraset sheets containing</li>
								</ul>
							</div>
						</div>

						<hr>
						<div class="inspection_details">
							<!--<h5 class="mb-3">Customer Report</h5>-->
							<div class="discript_conten pt-3">
								<p class="mb-2 font-weight-500"><b>Customer Describe Issue:</b></p>
								<p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							</div>

							<div class="uploaded_content pt-3">
								<h5 class="mb-3">Uploaded Image/Video</h5>
								<div class="uploaded_row form-row">
									<div class="list_item_uploaded"><img src="../images/upload1.png" alt="upload"></div>
									<div class="list_item_uploaded"><img src="../images/upload2.png" alt="upload"></div>
									<div class="list_item_uploaded"><img src="../images/upload3.png" alt="upload"></div>
									<div class="list_item_uploaded"><img src="../images/upload4.png" alt="upload"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
             </div>

             <footer class="footer text-center"> &copy; KEGI. All rights reserved. </footer>
         </div>
     </div>

     <!-- All Jquery -->
     <script src="../js/jquery.min.js"></script>
     <script src="../js/tether.min.js"></script>
     <script src="../js/bootstrap.min.js"></script>
     <script src="../js/jquery.slimscroll.js"></script>
     <script src="../js/sidebarmenu.js"></script>
     <script src="../js/sticky-kit.min.js"></script>

     <!--Custom JavaScript -->
     <script src="../js/custom.min.js"></script>
 </body>

